body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.controls {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #218838;
}

/* Configuração do Grid */
#gridContainer {
  display: grid;
  gap: 10px;
  /* O fluxo agora é por COLUNA */
  grid-auto-flow: column;
  width: fit-content;
  margin-top: 20px;
}

.grid-item {
  background-color: white;
  border: 2px solid #28a745;
  padding: 15px 25px;
  text-align: center;
  border-radius: 5px;
  min-width: 60px;
  font-weight: bold;
}

.empty-cell {
  border-color: #ddd;
  color: #ccc;
  background-color: #fafafa;
}
